.footer {
  margin-top: 150px;
  position: relative;
  border-top: 4px solid #ccc;
  padding: 100px 0;
  &__first {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    &-content {
      flex: 1;
    }
    &-header {
      font-family: $font-family-secondary;
      font-style: normal;
      font-weight: bold;
      font-size: 40px;
      line-height: 130%;
      color: $text-color-primary;
    }
    &-description {
      display: block;
      margin-top: 20px;
      font-weight: 500;
      font-size: 18px;
      line-height: 160%;
      color: $text-color-secondary;
    }
  }
  &__second {
    margin-top: 150px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    grid-gap: 50px;
    &__contact-info {
      .footer__address {
        font-weight: 500;
        font-size: 16px;
        line-height: 180%;
        letter-spacing: 0.01em;
        color: $text-color-primary;
        margin-top: 30px;
        display: block;
      }
      .footer__email,
      .footer__phone-number {
        font-size: 16px;
        line-height: 180%;
        letter-spacing: 0.01em;
        color: $text-color-primary;
        font-weight: 400;
      }
    }
    &-header {
      height: 50px;
      font-weight: 900;
      font-size: 16px;
      line-height: 160%;
      font-weight: 900;
      color: $text-color-primary;
      display: flex;
      gap: 20px;
      align-items: center;
    }
    .footer__list {
      .footer__item-link {
        text-decoration: none;
        font-size: 16px;
        line-height: 250%;
        font-weight: 500;
        color: $text-color-primary;
      }
      display: block;
      margin-top: 30px;
      .footer__item:hover .footer__item-link {
        color: $hover-color;
      }
    }
    .footer__list-logo {
      display: flex;
      margin-top: 30px;
      gap: 15px;
    }
  }
  &__third {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .footer__copyright {
        display: block;
      font-size: 12px;
      line-height: 180%;
      color: $text-color-primary;
      letter-spacing: 0.01em;
    }
    .footer__message img{
        width: 60px;
    }
  }
}
