.headline {
  margin-top: 130px;
  position: relative;
  &__wrapper {
    width: 100%;
    color: $text-color-primary;
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  &__header {
    font-family: $font-family-secondary;
    font-style: normal;
    font-weight: bold;
    width: 70%;
    font-size: 80px;
    line-height: 110%;
  }
  &__content {
    width: 32.7%;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
  }
  &__img {
    position: absolute;
    width: 68.7%;
    left: 31.4%;
    bottom: -15%;
  }
  @media screen and (max-width: 1024px) {
    &__header {
      width: 100%;
      font-size: 60px;
    }
    &__img {
      bottom: -20%;
    }
  }
  @media screen and (max-width: 768px) {
    &__header {
      font-size: 40px;
    }
    &__img {
      bottom: 10%;
    }
    &__wrapper {
      gap: 30px;
    }
  }
}
@media screen and (max-width: 525px) {
  .headline {
    margin-top: 100px;
    &__header {
      font-size: 32px;
    }
    &__content {
      font-size: 16px;
      width: 100%;
    }
    &__img {
      display: none;
    }
  }
}