@import "variables";

.header {
  margin-top: 50px;
  display: flex;
  align-items: center;
  &__menu {
    display: flex;
    flex: 1;
    gap: 40px;
    margin-left: 120px;
    align-items: center;
    &-item {
      display: block;
      list-style: none;
      padding: 8px 4px;
      &--active {
        .header__menu-link {
          font-weight: 800;
        }
      }
    }
    &-item:hover &-link {
      color: $hover-color;
    }
    &-link {
      text-decoration: none;
      color: $text-color-primary;
      font-size: 16px;
      line-height: 100%;
      font-weight: 500;
    }
  }
}
