.header {
  margin-top: 50px;
  display: flex;
  align-items: center;
  &__menu {
    display: flex;
    flex: 1;
    gap: 40px;
    margin-left: 120px;
    align-items: center;
    &-item {
      display: block;
      list-style: none;
      padding: 8px 4px;
      &--active {
        .header__menu-link {
          font-weight: 800;
        }
      }
      position: relative;
      overflow: hidden;
    }
    &-item::before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 4px;
      background: $hover-color;
      transform: translateX(-110%);
      transition: transform 1s ease;
    }
    &-item:hover::before {
      transform: translateX(110%);
    }
    &-item:hover &-link {
      color: $hover-color;
    }
    &-link {
      text-decoration: none;
      color: $text-color-primary;
      font-size: 16px;
      line-height: 100%;
      font-weight: 500;
    }
  }
}
