.introduce {
  margin-top: 200px;
  display: flex;
  background: rgba(240, 99, 184, 0.15);
  border-radius: 50px;
  &__img {
    width: 38.5%;
    object-fit: scale-down;
  }
  &__wrapper {
    width: 42%;
    margin: 20px 20px 20px 62px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  &__header {
    font-size: 40px;
    line-height: 130%;
    font-family: $font-family-secondary;
    font-weight: 700;
    color: $text-color-primary;
  }
  &__content {
    display: block;
    margin-top: 40px;
    font-weight: 500;
    text-align: justify;
    font-size: 18px;
    line-height: 160%;
    color: $text-color-secondary;
  }
}
@media screen and (max-width: 769px){
  .introduce__header {
    font-size: 32px;
  }
  .introduce__content {
    margin-top: 30px;
    font-size: 16px;
  }
}
@media screen and (max-width: 426px) {
  .introduce {
    margin-top: 100px;
  }
  .introduce__img {
    display: none;
  }
  .introduce__wrapper {
    width: 100%;
    margin: 20px;
  }
  .introduce__header {
    font-size: 28pz;
    text-align: center;
  }
}